@page "{id?}"
@model TwosModel
@{
    ViewData["Title"] = "Twos";
    var message = Model.Message;
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-6">
            <h2>Ones</h2>
            <ul>
                <li> <vc:twos></vc:twos></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>One</h2>
            <ul>
                <li> <vc:two id="@message"></vc:two></li>
            </ul>
        </div>

    </div>
</div>
