@model ViewComponents.OnesViewComponentModel
<h4>Hello from Ones</h4>
<ul>
    @foreach (var item in Model.Messages)
    {
        var url = $"/Ones/{item}";
        <li><a href="@url">@item</a></li>
    }
</ul>

